<?xml version="1.0" encoding="UTF-8" ?>
<!-- install as ~/Library/LaunchAgents/com.scottylogan.coreos.plist -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//E" http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.scottylogan.coreos</string>
<!--
    <key>StandardOutPath</key>
    <string>/tmp/coreos.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/coreos.err</string>
    <key>Debug</key>
    <true/>
-->
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/swl/src/coreos-vagrant</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/vagrant</string>
      <string>up</string>
    </array>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false />
    </dict>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
